.wrapper-card-movies {
    width: 100%;
    height: 100vh;
    background: lightgray;
    padding-top: 7rem;
    overflow-y: scroll;
}

.card-movies {
    width: 450px;
    min-height: 600px;
}