.wrapper-detail {
  position: relative;
}

.section-top {
  height: 50vh;
  width: 100%;
}

.section-bottom {
  height: 50vh;
  width: 100%;
}

.img-poster {
  position: absolute;
  top: 20%;
  left: 5%;
}

.backdrop-img {
  opacity: 0.8;
}
