<div class="wrapper-detail pb-5">
  <img [attr.src]="getPoster(detailItem.backdrop_path)" width="100%">
  <div class="section-bottom mt-5 d-flex flex-wrap align-items-center">
    <div class="text-center me-5">
      <img [attr.src]="getPoster(detailItem.poster_path)" class="mb-2 shadow p-3" width="300">
      <div>
        <span *ngFor="let item of detailItem.genres" class="badge text-bg-danger m-2">{{ item.name }}</span>
      </div>
    </div>
    <div class="p-3">
      <h1 class="mb-0">
        {{ detailItem.title }}
      </h1>
      <span>
        {{ detailItem.tagline }}
      </span>
      <p class="mt-3">
        {{ detailItem.overview }}
      </p>
    </div>
  </div>
</div>
